body 
{
    font-family: "굴림";
    font-size:13px;
}
label
{
    margin-left:10px;
    margin-right:10px;
}
.white_board
{
	border-bottom-color: white !important;  
	border-right-color: white !important;
}   